div#containerBig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "upperGrid ."
    "lowerGrid .";
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b); /* Example gradient */
    height: 100vh; /* Ensures it takes up the entire viewport height */
    width: 50vh;
}

.upperGrid {
    grid-area: upperGrid
}

.lowerGrid {
    grid-area: lowerGrid
}

div#containerEyes {
    grid-area: upperGrid;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "die1 die2 die3 die4 die5"
    "turn1 . . . roll";
    border: 2px solid black;
    padding: 10px;
    margin: 30px;
    margin-bottom: 5px;
}

.die1 {
    grid-area: die1;
}

.die2 {
    grid-area: die2;
}

.die3 {
    grid-area: die3;
}

.die4 {
    grid-area: die4;
}

.die5 {
    grid-area: die5;
}

.turn1 {
    grid-area: turn1;
}

#roll {
    grid-area: roll;
}

div#containerPoints {
    grid-area: lowerGrid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "oneS . . ."
    "twoS . . ."
    "threeS . . ."
    "fourS . . ."
    "fiveS . . ."
    "sixS . sum bonus"
    "onePair . . ."
    "twoPair . . ."
    "threeSame . . ."
    "fourSame . . ."
    "fullHouse . . ."
    "smallStraight . . ."
    "largeStraight . . ."
    "chance . . ."
    "yatzy . . total";
    border: 2px solid black;
    padding: 10px;
    margin: 30px;
    margin-top: 5px;
}

.oneS {
    grid-area: oneS;
}

.twoS {
    grid-area: twoS;
}

.threeS {
    grid-area: threeS;
}

.fourS {
    grid-area: fourS;
}

.fiveS {
    grid-area: fiveS;
}

.sixS {
    grid-area: sixS;
}

.onePair {
    grid-area: onePair;
}

.twoPair {
    grid-area: twoPair;
}

.threeSame {
    grid-area: threeSame;
}

.fourSame {
    grid-area: fourSame;
}

.fullHouse {
    grid-area: fullHouse;
}

.smallStraight {
    grid-area: smallStraight;
}

.largeStraight {
    grid-area: largeStraight;
}

.chance {
    grid-area: chance;
}

.yatzy {
    grid-area: yatzy;
}

.sum {
    grid-area: sum;
}

.bonus {
    grid-area: bonus;
}

.item-total {
    grid-area: total;
}
