div#containerEyes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "die1 die2 die3 die4 die5"
    "turn1 . . . roll"
}

.item-die1 {
    grid-area: die1;
}

.item-die2 {
    grid-area: die2;
}

.item-die3 {
    grid-area: die3;
}

.item-die4 {
    grid-area: die4;
}

.item-die5 {
    grid-area: die5;
}

.item-turn1 {
    grid-area: turn1;
}

#roll {
    grid-area: roll;
}

div#containerPoints {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "oneS . . ."
    "twoS . . ."
    "threeS . . ."
    "fourS . . ."
    "fiveS . . ."
    "sixS . sum bonus"
    "onePair . . ."
    "twoPair . . ."
    "threeSame . . ."
    "fourSame . . ."
    "fullHouse . . ."
    "smallStraight . . ."
    "largeStraight . . ."
    "chance . . ."
    "yatzy . . total";
}

.item-a {
    grid-area: oneS;
}

.item-b {
    grid-area: twoS;
}

.item-c {
    grid-area: threeS;
}

.item-d {
    grid-area: fourS;
}

.item-e {
    grid-area: fiveS;
}

.item-f {
    grid-area: sixS;
}

.item-g {
    grid-area: onePair;
}

.item-h {
    grid-area: twoPair;
}

.item-i {
    grid-area: threeSame;
}

.item-j {
    grid-area: fourSame;
}

.item-k {
    grid-area: fullHouse;
}

.item-l {
    grid-area: smallStraight;
}

.item-m {
    grid-area: largeStraight;
}

.item-n {
    grid-area: chance;
}

.item-o {
    grid-area: yatzy;
}

.item-sum {
    grid-area: sum;
}

.item-bonus {
    grid-area: bonus;
}

.item-total {
    grid-area: total;
}
