div#containerEyes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "die1 die2 die3 die4 die5"
    "turn1 . . . roll"
}

div#containerEyes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "die1 die2 die3 die4 die5"
    "turn1 . . . roll"
}

.die1 {
    grid-area: die1;
}

.die2 {
    grid-area: die2;
}

.die3 {
    grid-area: die3;
}

.die4 {
    grid-area: die4;
}

.die5 {
    grid-area: die5;
}

.turn1 {
    grid-area: turn1;
}

#roll {
    grid-area: roll;
}

div#containerPoints {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "oneS oneSBox . . . ."
    "twoS twoSBox . . . ."
    "threeS threeSBox . . . ."
    "fourS fourSBox . . . ."
    "fiveS fiveSBox . . . ."
    "sixS sixSBox sum sumBox bonus bonusBox"
    "onePair onePairBox . . . ."
    "twoPair twoPairBox . . . ."
    "threeSame threeSameBox . . . ."
    "fourSame fourSameBox . . . ."
    "fullHouse fullHouseBox . . . ."
    "smallStraight smallStraightBox . . . ."
    "largeStraight largeStraightBox . . . ."
    "chance chanceBox . . . ."
    "yatzy yatzyBox . . total totalBox";
}

.oneS {
    grid-area: oneS;
}

.oneSBox {
    grid-area: oneSBox;
}

.twoSBox {
    grid-area: twoSBox;
}

.twoS {
    grid-area: twoS;
}

.threeS {
    grid-area: threeS;
}

.threeSBox{
    grid-area: threeSBox;
}

.fourS {
    grid-area: fourS;
}

.fourSBox{
    grid-area: fourSBox;
}


.fiveS {
    grid-area: fiveS;
}

.fiveSBox{
    grid-area: fiveSBox;
}


.sixS {
    grid-area: sixS;
}

.sixSBox{
    grid-area: sixSBox;
}


.onePair {
    grid-area: onePair;
}

.onePairBox{
    grid-area: onePairBox;
}


.twoPair {
    grid-area: twoPair;
}

.twoPairBox{
    grid-area: twoPairBox;
}


.threeSame {
    grid-area: threeSame;
}

.threeSameBox{
    grid-area: threeSameBox;
}


.fourSame {
    grid-area: fourSame;
}

.fourSameBox {
    grid-area: fourSameBox;
}

.fullHouse {
    grid-area: fullHouse;
}

.fullHouseBox {
    grid-area: fullHouseBox;
}

.smallStraight {
    grid-area: smallStraight;
}

.smallStraightBox {
    grid-area: smallStraightBox;
}

.largeStraight {
    grid-area: largeStraight;
}

.largeStraightBox {
    grid-area: largeStraightBox;
}

.chance {
    grid-area: chance;
}

.chanceBox {
    grid-area: chanceBox;
}

.yatzy {
    grid-area: yatzy;
}

.yatzyBox {
    grid-area: yatzyBox;
}


.sum {
    grid-area: sum;
}

.sumBox {
    grid-area: sumBox;
}

.bonus {
    grid-area: bonus;
}

.bonusBox {
    grid-area: bonusBox;
}

.total {
    grid-area: total;
}

.totalBox {
    grid-area: totalBox;
}